@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  /* 블랙 배경 시작 색상 */
  --background-end-rgb: 255, 255, 255;
  /* 블랙 배경 끝 색상 */
}

body {
  color: rgb(var(--foreground-rgb));
  background:
    rgb(var(--background-start-rgb));
}

:root,
[data-theme] {
  --b1: 0, 0, 0;
  /* 블랙 배경 색상 */
  --bc: 255, 255, 255;
  /* 흰색 텍스트 색상 */
  background-color: rgb(var(--b1));
  color: rgb(var(--bc));
}

.navbar {
  padding: 0 !important;
}

.swiper {
  width: 100%;
  height: 100%;
  background: #fff;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  background-color: #fff;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html {
    color-scheme: dark !important;
  }
}

.calendar-container {

  background-color: #fff;
  color: black;
  box-sizing: border-box;
  /* Ensure padding and borders are included in the element's total width and height */
  overflow: hidden;
  /* Hide overflow content */
  position: relative;
}



.fc-col-header-cell-cushion {
  font-size: 14px;
}

.fc-daygrid-day-number {
  font-size: 15px;
  display: inline-block;
  width: 100%;
}

.fc-toolbar-title {
  margin: 5;
}

.text-red {
  color: red;
}

.fc-toolbar-title {
  font-weight: bold;
}

.text-blue {
  color: blue;
}

.fc .fc-header-toolbar {
  height: 35px;
  font-size: 15px
}

.fc-event {
  cursor: pointer;

}

.fc-event:hover {
  transition: background-color 0.3s;
  filter: brightness(85%);
}

.ql-container {
  border: 1px solid #000000;
  /* 에디터 테두리 색상 */
  border-bottom-left-radius: 8px;
  /* 에디터 모서리 둥글기 */
  border-bottom-right-radius: 8px;
  /* 에디터 모서리 둥글기 */
  background-color: #f5f5f5;
  /* 에디터 배경색상 */
  color: #000;
}

/* 툴바 스타일 */
.ql-toolbar {
  background-color: #ffffff;
  /* 툴바 배경색상 */
  border-top-left-radius: 8px;
  /* 에디터 모서리 둥글기 */
  border-top-right-radius: 8px;
  /* 에디터 모서리 둥글기 */
  border-bottom: 1px solid #000000;
  /* 툴바 하단 테두리 색상 */
  color: #000000;
  /* 툴바 버튼 색상 */
}

.tiptap {
  :first-child {
    margin-top: 0;
  }

  /* List styles */
  ul, 
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
    
    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Heading styles */
  h1, 
  h2, 
  h3, 
  h4, 
  h5, 
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1, 
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 { 
    font-size: 1.4rem; 
  }

  h2 { 
    font-size: 1.2rem; 
  }

  h3 { 
    font-size: 1.1rem; 
  }

  h4, 
  h5, 
  h6 { 
    font-size: 1rem; 
  }

  /* Code and preformatted text styles */
  code {
    background-color: var(--purple-light);
    border-radius: 0.4rem;
    color: var(--black);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  pre {
    background: var(--black);
    border-radius: 0.5rem;
    color: var(--white);
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  blockquote {
    border-left: 3px solid var(--gray-3);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid var(--gray-2);
    margin: 2rem 0;
  }
}


.ql-editor img {
  max-width: 50%;
  /* 이미지가 에디터의 너비를 넘지 않도록 설정 */
  height: 50%;
  /* 비율을 유지하면서 이미지의 높이 자동 조정 */
}

button:hover .ql-stroke,
.ql-picker-label:hover .ql-stroke {
  fill: none;
  stroke: #ff5722 !important;
  color: #ff5722 !important;
}

.ql-active .ql-stroke {
  fill: none;
  stroke: #ff5722 !important;
}

button:hover .ql-fill,
.ql-picker-label:hover .ql-fill {
  fill: #ff5722 !important;
  stroke: none;
}

.ql-active .ql-fill {
  fill: #ff5722 !important;
  stroke: none;
}

.ql-toolbar button,
.ql-toolbar select,
.ql-picker-label {
  color: #000 !important;
}

.ql-toolbar .ql-stroke {
  fill: none;
  stroke: #000 !important;
}

.ql-toolbar .ql-fill {
  fill: #000 !important;
  stroke: none;
}
